In [1]:
import pandas as pd

In [41]:
pd.options.display.max_columns = False

In [200]:
# Abrindo o dataset do histórico de partidas
df1 = pd.read_csv(r"C:\Users\derik.galante\OneDrive - Hypera\Área de Trabalho\Projeto ADA\campeonato-brasileiro-full.csv", encoding="latin1")

In [201]:
df1.head()

   ID  rodata       data   hora  ... mandante_Placar visitante_Placar mandante_Estado visitante_Estado
0   1       1  29/3/2003  16:00  ...               4                2              SP               RJ
1   2       1  29/3/2003  16:00  ...               2                0              PR               RS
2   3       1  30/3/2003  16:00  ...               1                1              RJ               PR
3   4       1  30/3/2003  16:00  ...               2                2              GO               PA
4   5       1  30/3/2003  16:00  ...               1                1              RS               SP

[5 rows x 16 columns]

### Questão 2

In [202]:
# Criando dataframe de apoio
tabela = pd.DataFrame(columns = ["mandante","mandante_Placar"])
tabela["mandante_Placar"] = tabela["mandante_Placar"].astype("int64")

# Agrupando, por linhas, em um dataframe, cada time mandante em jogos e seus números de gols por jogo
for chave, dataframe in df1.groupby(["mandante"]):
    tabela = pd.concat([tabela, dataframe[["mandante","mandante_Placar"]]])

In [204]:
tabela

        mandante  mandante_Placar
3475  America-MG                2
3493  America-MG                2
3507  America-MG                1
3526  America-MG                2
3543  America-MG                1
...          ...              ...
6418     Vitoria                2
6425     Vitoria                0
6449     Vitoria                2
6466     Vitoria                1
6488     Vitoria                0

[8025 rows x 2 columns]

In [120]:
# Sumarizando o número total de gols por time em todos os jogos disputados como mandante
gols_por_time_como_mandante =pd.DataFrame(tabela.groupby("mandante")["mandante_Placar"].sum())
gols_por_time_como_mandante.reset_index(inplace=True)

gols_por_time_como_mandante

           mandante  mandante_Placar
0        America-MG              112
1        America-RN               12
2      Athletico-PR              611
3       Atletico-GO              158
4       Atletico-MG              649
5              Avai              171
6             Bahia              255
7           Barueri               35
8       Botafogo-RJ              498
9        Bragantino               91
10      Brasiliense               26
11              CSA               17
12            Ceara              160
13      Chapecoense              149
14      Corinthians              560
15         Coritiba              387
16         Criciuma              121
17         Cruzeiro              590
18           Cuiaba               35
19      Figueirense              311
20         Flamengo              652
21       Fluminense              594
22        Fortaleza              204
23            Goias              459
24           Gremio              606
25  Gremio Prudente               25
26          Guarani               83
27    Internacional              605
28         Ipatinga               28
29        Joinville               19
30        Juventude              194
31          Nautico              131
32        Palmeiras              606
33           Parana              186
34         Paysandu              132
35      Ponte Preta              256
36       Portuguesa               90
37       Santa Cruz               50
38      Santo Andre               29
39           Santos              702
40      Sao Caetano              120
41        Sao Paulo              656
42            Sport              291
43            Vasco              437
44          Vitoria              312

In [121]:
# Criando dataframe de apoio
tabela = pd.DataFrame(columns = ["visitante","visitante_Placar"])
tabela["visitante_Placar"] = tabela["visitante_Placar"].astype("int64")

# Agrupando, por linhas, em um dataframe, cada time visitante em jogos e seus números de gols por jogo
for chave, dataframe in df1.groupby(["visitante"]):
    tabela = pd.concat([tabela, dataframe[["visitante","visitante_Placar"]]])

In [122]:
# Sumarizando o número total de gols por time em todos os jogos disputados como visistante
gols_por_time_como_visitante =pd.DataFrame(tabela.groupby("visitante")["visitante_Placar"].sum())
gols_por_time_como_visitante.reset_index(inplace=True)

gols_por_time_como_visitante

          visitante  visitante_Placar
0        America-MG                73
1        America-RN                12
2      Athletico-PR               370
3       Atletico-GO               130
4       Atletico-MG               430
5              Avai               103
6             Bahia               175
7           Barueri                24
8       Botafogo-RJ               320
9        Bragantino                63
10      Brasiliense                23
11              CSA                 7
12            Ceara               117
13      Chapecoense               112
14      Corinthians               392
15         Coritiba               265
16         Criciuma                73
17         Cruzeiro               388
18           Cuiaba                30
19      Figueirense               219
20         Flamengo               461
21       Fluminense               453
22        Fortaleza               125
23            Goias               294
24           Gremio               350
25  Gremio Prudente                14
26          Guarani                57
27    Internacional               390
28         Ipatinga                 9
29        Joinville                 7
30        Juventude               139
31          Nautico                93
32        Palmeiras               407
33           Parana               126
34         Paysandu                61
35      Ponte Preta               158
36       Portuguesa                47
37       Santa Cruz                36
38      Santo Andre                17
39           Santos               437
40      Sao Caetano                89
41        Sao Paulo               467
42            Sport               172
43            Vasco               310
44          Vitoria               180

In [123]:
# Mesclando os dataframes, para computar nas linhas os gols como mandante e visitante de cada time
gols_por_time = gols_por_time_como_mandante.merge(gols_por_time_como_visitante[["visitante","visitante_Placar"]], how="left", left_on="mandante", right_on="visitante")

In [124]:
# Dropando coluna redundante
gols_por_time.drop(columns="visitante",inplace=True)

In [125]:
# Criando dataframe com total de gols por time
gols_por_time["total_de_gols"] = gols_por_time["mandante_Placar"] + gols_por_time["visitante_Placar"]
gols_por_time.sort_values("total_de_gols", ascending=False)

           mandante  mandante_Placar  visitante_Placar  total_de_gols
39           Santos              702               437           1139
41        Sao Paulo              656               467           1123
20         Flamengo              652               461           1113
4       Atletico-MG              649               430           1079
21       Fluminense              594               453           1047
32        Palmeiras              606               407           1013
27    Internacional              605               390            995
2      Athletico-PR              611               370            981
17         Cruzeiro              590               388            978
24           Gremio              606               350            956
14      Corinthians              560               392            952
8       Botafogo-RJ              498               320            818
23            Goias              459               294            753
43            Vasco              437               310            747
15         Coritiba              387               265            652
19      Figueirense              311               219            530
44          Vitoria              312               180            492
42            Sport              291               172            463
6             Bahia              255               175            430
35      Ponte Preta              256               158            414
30        Juventude              194               139            333
22        Fortaleza              204               125            329
33           Parana              186               126            312
3       Atletico-GO              158               130            288
12            Ceara              160               117            277
5              Avai              171               103            274
13      Chapecoense              149               112            261
31          Nautico              131                93            224
40      Sao Caetano              120                89            209
16         Criciuma              121                73            194
34         Paysandu              132                61            193
0        America-MG              112                73            185
9        Bragantino               91                63            154
26          Guarani               83                57            140
36       Portuguesa               90                47            137
37       Santa Cruz               50                36             86
18           Cuiaba               35                30             65
7           Barueri               35                24             59
10      Brasiliense               26                23             49
38      Santo Andre               29                17             46
25  Gremio Prudente               25                14             39
28         Ipatinga               28                 9             37
29        Joinville               19                 7             26
11              CSA               17                 7             24
1        America-RN               12                12             24

In [189]:
# Abrindo o dataset das estatísticas das partidas
df_estat = pd.read_csv(r"C:\Users\derik.galante\OneDrive - Hypera\Área de Trabalho\Projeto ADA\campeonato-brasileiro-estatisticas-full.csv", encoding="latin1")

## Questão 10

In [192]:
# Tratando None e formato de string de porcentagem para inteiro

df_estat["precisao_passes"] = df_estat["precisao_passes"].str.replace("None","0")
df_estat["precisao_passes"] = df_estat["precisao_passes"].str.replace("%","")
df_estat["precisao_passes"] = df_estat["precisao_passes"].astype("Int64")

In [193]:
# Descartando os nulos, agrupando por clube e tirando a média de porcentagem de precisão para cada time
time_mais_preciso =pd.DataFrame(df_estat.drop(df_estat[((df_estat["precisao_passes"].isna()) | (df_estat["precisao_passes"] ==0))].index).groupby("clube")["precisao_passes"].mean())
time_mais_preciso.reset_index(inplace=True)
time_mais_preciso.sort_values(by = "precisao_passes", ascending=False)

            clube  precisao_passes
15       Flamengo        84.502646
19         Gremio             83.8
3     Atletico-MG        83.387097
16     Fluminense        82.634921
11    Corinthians        82.375661
13       Cruzeiro        82.178082
25      Sao Paulo        81.739362
24         Santos        81.447368
1    Athletico-PR        81.341176
22      Palmeiras        80.867021
20  Internacional             80.7
7      Bragantino        80.333333
12       Coritiba        80.157895
2     Atletico-GO        79.815789
17      Fortaleza        79.801325
6     Botafogo-RJ        79.754967
27          Vasco        79.678571
28        Vitoria        79.105263
4            Avai        79.027027
21      Juventude        78.855263
5           Bahia        78.848684
26          Sport        78.447368
14         Cuiaba        78.263158
9           Ceara        78.078947
8             CSA        77.685714
0      America-MG        76.859649
10    Chapecoense        76.530973
18          Goias          75.5625
23         Parana        75.447368

In [ ]:
# Time com mais precisão de passes: Flamengo com 84,5%

## Questão 11

In [196]:
# Tratando None e formato de string de porcentagem para inteiro

df_estat["posse_de_bola"] = df_estat["posse_de_bola"].str.replace("None","0")

df_estat["posse_de_bola"] = df_estat["posse_de_bola"].str.replace("%","")

df_estat["posse_de_bola"] = df_estat["posse_de_bola"].astype("Int64")

In [197]:
# Descartando os nulos, agrupando por clube e tirando a média de porcentagem de posse de bola para cada time
time_maior_dominio_bola =pd.DataFrame(df_estat.drop(df_estat[((df_estat["posse_de_bola"].isna()) | (df_estat["posse_de_bola"] ==0))].index).groupby("clube")["posse_de_bola"].mean())
time_maior_dominio_bola.reset_index(inplace=True)
time_maior_dominio_bola.sort_values(by = "posse_de_bola", ascending=False)

            clube  posse_de_bola
13       Criciuma           58.5
17       Flamengo      57.511475
3     Atletico-MG      55.843333
21         Gremio      54.154135
30      Sao Paulo      54.151815
11    Corinthians      53.872131
18     Fluminense      52.351974
29         Santos      52.206557
14       Cruzeiro      52.165775
25      Palmeiras      52.151316
22  Internacional      51.086142
1    Athletico-PR       50.72028
7      Bragantino      49.719298
31          Sport      48.644737
33        Vitoria      47.973913
6     Botafogo-RJ      47.854626
28     Santa Cruz      47.631579
2     Atletico-GO      47.552632
32          Vasco      47.462766
19      Fortaleza      47.456954
5           Bahia        47.4375
12       Coritiba      46.882653
0      America-MG      46.322368
27    Ponte Preta      46.298246
9           Ceara      46.036842
10    Chapecoense      45.188596
23      Joinville      45.184211
4            Avai      44.993333
15         Cuiaba      44.894737
24      Juventude      44.736842
16    Figueirense      43.701299
26         Parana      41.263158
20          Goias      41.218543
8             CSA      39.571429

In [ ]:
# Time com mais posse de bola: Criciúma com 58,5%