``Importação PANDAS``

In [1]:
import pandas as pd

import numpy as np

## Início manipulação dados do data set Estatisticas Full

``Verificar o conteúdo do data set``

In [2]:
#abrindo o data set

df_origin = pd.read_csv('campeonato-brasileiro-full.csv')

In [3]:
#identificando os itens das colunas para propor as perguntas a serem respondidas

df_origin.head()

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
0,1,1,29/3/2003,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,Brinco de Ouro,4,2,SP,RJ
1,2,1,29/3/2003,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,Arena da Baixada,2,0,PR,RS
2,3,1,30/3/2003,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,Maracanã,1,1,RJ,PR
3,4,1,30/3/2003,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,Serra Dourada,2,2,GO,PA
4,5,1,30/3/2003,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,Beira Rio,1,1,RS,SP

``Verificando se há valores nulos``

``Verificando quantos valores nulos temos``

In [4]:
df_origin.isna().sum()

ID                       0
rodata                   0
data                     0
hora                     0
mandante                 0
visitante                0
formacao_mandante     4974
formacao_visitante    4974
tecnico_mandante      4610
tecnico_visitante     4610
vencedor                 0
arena                    0
mandante_Placar          0
visitante_Placar         0
mandante_Estado          0
visitante_Estado         0
dtype: int64

In [5]:
df_origin.describe()

                ID       rodata  mandante_Placar  visitante_Placar
count  8025.000000  8025.000000      8025.000000       8025.000000
mean   4013.000000    20.163240         1.547040          1.024922
std    2316.762288    11.465955         1.232277          1.024076
min       1.000000     1.000000         0.000000          0.000000
25%    2007.000000    10.000000         1.000000          0.000000
50%    4013.000000    20.000000         1.000000          1.000000
75%    6019.000000    30.000000         2.000000          2.000000
max    8025.000000    46.000000         7.000000          7.000000

In [6]:
percentil = df_origin.isna().sum()/len(df_origin)*100

print(f'O tamanho do set de dados é de: {len(df_origin)} dados')
print(f'A tabela a seguir, indica o percentil de cada dado nulo: \n \n {percentil}')

O tamanho do set de dados é de: 8025 dados
A tabela a seguir, indica o percentil de cada dado nulo:

 ID                     0.000000
rodata                 0.000000
data                   0.000000
hora                   0.000000
mandante               0.000000
visitante              0.000000
formacao_mandante     61.981308
formacao_visitante    61.981308
tecnico_mandante      57.445483
tecnico_visitante     57.445483
vencedor               0.000000
arena                  0.000000
mandante_Placar        0.000000
visitante_Placar       0.000000
mandante_Estado        0.000000
visitante_Estado       0.000000
dtype: float64

``Por ter +/- 50% dos valores nulos nas colunas formação mandante, visitante, técnico mandante e visitante, seus valores são estatísticamente não significantes.``

``Desta forma, foram removidos.``

In [7]:
df_full_nnull = df_origin.drop(['formacao_mandante', 'formacao_visitante', 'tecnico_mandante', 'tecnico_visitante'], axis=1)

In [8]:
df_full_nnull.head()

,ID,rodata,data,hora,mandante,visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
0,1,1,29/3/2003,16:00,Guarani,Vasco,Guarani,Brinco de Ouro,4,2,SP,RJ
1,2,1,29/3/2003,16:00,Athletico-PR,Gremio,Athletico-PR,Arena da Baixada,2,0,PR,RS
2,3,1,30/3/2003,16:00,Flamengo,Coritiba,-,Maracanã,1,1,RJ,PR
3,4,1,30/3/2003,16:00,Goias,Paysandu,-,Serra Dourada,2,2,GO,PA
4,5,1,30/3/2003,16:00,Internacional,Ponte Preta,-,Beira Rio,1,1,RS,SP

``Para responder a pergunta 1, será necessário saber que há empates sendo simbolizados por - e devem ser removidos``

1 - Qual time ganhou mais vezes

In [9]:
vencedor_max = df_full_nnull['vencedor'].value_counts().index[1]


df_time = df_full_nnull['vencedor'].replace('-', np.nan, regex=True).dropna().value_counts().head(5)
   

print(f'O time que ganhou mais vezes foi o {vencedor_max}. \n \n A tabela a seguir, mostra os 5 primeiros times com mais vitórias: \n {df_time}' )

O time que ganhou mais vezes foi o Sao Paulo.

 A tabela a seguir, mostra os 5 primeiros times com mais vitórias:
 Sao Paulo        351
Flamengo         335
Santos           329
Internacional    324
Corinthians      314
Name: vencedor, dtype: int64

2 - Qual time fez mais gols

In [10]:
df_full_nnull

,ID,rodata,data,hora,mandante,visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
0,1,1,29/3/2003,16:00,Guarani,Vasco,Guarani,Brinco de Ouro,4,2,SP,RJ
1,2,1,29/3/2003,16:00,Athletico-PR,Gremio,Athletico-PR,Arena da Baixada,2,0,PR,RS
2,3,1,30/3/2003,16:00,Flamengo,Coritiba,-,Maracanã,1,1,RJ,PR
3,4,1,30/3/2003,16:00,Goias,Paysandu,-,Serra Dourada,2,2,GO,PA
4,5,1,30/3/2003,16:00,Internacional,Ponte Preta,-,Beira Rio,1,1,RS,SP
...,...,...,...,...,...,...,...,...,...,...,...,...
8020,8021,38,13/11/2022,16:03,Cuiaba,Coritiba,Cuiaba,Arena Pantanal,2,1,MT,PR
8021,8022,38,13/11/2022,16:03,Bragantino,Fluminense,Fluminense,Nabizão,0,1,SP,RJ
8022,8023,38,13/11/2022,16:03,Corinthians,Atletico-MG,Atletico-MG,Neo Química Arena,0,1,SP,MG
8023,8024,38,13/11/2022,16:03,Internacional,Palmeiras,Internacional,Estádio José Pinheiro Borda,3,0,RS,SP
8024,8025,38,13/11/2022,16:03,Goias,Sao Paulo,Sao Paulo,Estádio da Serrinha,0,4,GO,SP

``Para saber qual time fez mais gols como vencedor, é preciso somar a coluna de gols visitante e mandante e depois retornar o time com o valor correspondente.``

In [11]:
# Calcular a média da soma de gols para cada equipe
df_full_nnull['total_gols'] = df_full_nnull['mandante_Placar'] + df_full_nnull['visitante_Placar']

max_gols_index = df_full_nnull['total_gols'].idxmax()

max_gols_vencedor = df_origin.loc[max_gols_index, 'vencedor']

print(f'O time que mais fez gols, foi o {max_gols_vencedor}, com {max_gols_index} gols')

O time que mais fez gols, foi o Santos, com 450 gols

``O time que mais fez gols:  (???)
``

In [12]:
#alteracao do indice para vencedor
df_new_index_vencedor = df_full_nnull.set_index('vencedor').drop(['ID', 'rodata'], axis=1)

#realizando a sumarização dos dados, solicitando o total de gols por vencedor
df_ordenar_vencedor = df_new_index_vencedor.groupby('vencedor').sum().sort_values(by='total_gols', ascending=False)

#retornar o DF , splitando a primeira linha que trata sobre os empates
df_ordenar_vencedor[1:]

                 mandante_Placar  visitante_Placar  total_gols
vencedor
Sao Paulo                    601               395         996
Santos                       625               352         977
Flamengo                     572               358         930
Atletico-MG                  576               342         918
Palmeiras                    547               362         909
Cruzeiro                     525               349         874
Fluminense                   513               348         861
Internacional                537               321         858
Athletico-PR                 538               291         829
Corinthians                  502               320         822
Gremio                       506               286         792
Botafogo-RJ                  390               243         633
Goias                        376               229         605
Vasco                        329               203         532
Coritiba                     321               151         472
Figueirense                  244               154         398
Vitoria                      246               151         397
Sport                        225               115         340
Ponte Preta                  194               103         297
Bahia                        182               107         289
Fortaleza                    170                93         263
Parana                       158                94         252
Juventude                    137                76         213
Atletico-GO                  120                84         204
Avai                         113                69         182
Ceara                        113                67         180
Chapecoense                  109                63         172
Sao Caetano                  104                61         165
Nautico                      108                51         159
Paysandu                      98                38         136
America-MG                    87                46         133
Criciuma                      90                40         130
Bragantino                    71                43         114
Guarani                       65                30          95
Portuguesa                    65                27          92
Santa Cruz                    32                14          46
Barueri                       32                12          44
Cuiaba                        22                17          39
Santo Andre                   21                13          34
Brasiliense                   17                13          30
Ipatinga                      21                 5          26
Gremio Prudente               18                 8          26
Joinville                     13                 5          18
CSA                           10                 4          14
America-RN                     7                 7          14

``Alterando o indíce para Mandante``

In [13]:
new_df_index_mandante = df_full_nnull.set_index('mandante')

new_df_index_mandante.head()

,ID,rodata,data,hora,visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado,total_gols
mandante,,,,,,,,,,,,
Guarani,1,1,29/3/2003,16:00,Vasco,Guarani,Brinco de Ouro,4,2,SP,RJ,6
Athletico-PR,2,1,29/3/2003,16:00,Gremio,Athletico-PR,Arena da Baixada,2,0,PR,RS,2
Flamengo,3,1,30/3/2003,16:00,Coritiba,-,Maracanã,1,1,RJ,PR,2
Goias,4,1,30/3/2003,16:00,Paysandu,-,Serra Dourada,2,2,GO,PA,4
Internacional,5,1,30/3/2003,16:00,Ponte Preta,-,Beira Rio,1,1,RS,SP,2

``Agrupando mandante para visualização de valores médios``

In [14]:
new_df_index_mandante.groupby('mandante').mean()

,ID,rodata,mandante_Placar,visitante_Placar,total_gols
mandante,,,,,
America-MG,6161.178947,19.200000,1.178947,0.978947,2.157895
America-RN,2129.315789,19.000000,0.631579,1.842105,2.473684
Athletico-PR,4113.059299,20.180593,1.646900,0.911051,2.557951
Atletico-GO,5610.533835,19.571429,1.187970,1.120301,2.308271
Atletico-MG,4229.288410,20.040431,1.749326,1.056604,2.805930
Avai,5067.458647,19.428571,1.285714,1.270677,2.556391
Bahia,4964.922680,19.778351,1.314433,1.087629,2.402062
Barueri,2901.789474,20.000000,1.842105,0.736842,2.578947
Botafogo-RJ,4120.496970,20.075758,1.509091,1.103030,2.612121
Bragantino,7455.175439,19.666667,1.596491,1.087719,2.684211
Brasiliense,1340.904762,22.000000,1.238095,1.428571,2.666667
CSA,6691.052632,19.000000,0.894737,1.263158,2.157895
Ceara,6040.962406,19.142857,1.203008,0.962406,2.165414
Chapecoense,5992.643939,19.287879,1.128788,1.075758,2.204545
Corinthians,4188.964960,19.962264,1.509434,0.894879,2.404313
Coritiba,3905.101449,20.398551,1.402174,0.909420,2.311594
Criciuma,2382.892857,21.440476,1.440476,1.166667,2.607143
Cruzeiro,3537.096096,20.198198,1.771772,1.069069,2.840841
Cuiaba,7646.473684,19.500000,0.921053,0.921053,1.842105
Figueirense,2815.881279,20.675799,1.420091,1.077626,2.497717
Flamengo,4111.706941,20.043702,1.676093,0.938303,2.614396
Fluminense,4107.912821,19.941026,1.523077,1.025641,2.548718
Fortaleza,4460.187050,20.510791,1.467626,1.136691,2.604317
Goias,3539.710145,20.514493,1.663043,1.141304,2.804348
Gremio,4073.531429,20.031429,1.731429,0.897143,2.628571
Gremio Prudente,3280.842105,20.000000,1.315789,1.315789,2.631579
Guarani,1351.615385,22.507692,1.276923,0.876923,2.153846
Internacional,4016.180593,20.126685,1.630728,0.846361,2.477089
Ipatinga,2511.894737,19.000000,1.473684,1.315789,2.789474
Joinville,5181.578947,20.000000,1.000000,0.894737,1.894737
Juventude,2922.027972,20.874126,1.356643,1.013986,2.370629
Nautico,3204.136842,19.800000,1.378947,1.178947,2.557895
Palmeiras,4344.543103,19.839080,1.741379,1.022989,2.764368
Parana,1992.911290,21.024194,1.500000,1.096774,2.596774
Paysandu,796.626866,22.746269,1.970149,1.343284,3.313433
Ponte Preta,3117.022099,20.795580,1.414365,1.220994,2.635359
Portuguesa,3658.017544,19.666667,1.578947,0.947368,2.526316
Santa Cruz,3656.868421,19.500000,1.315789,1.526316,2.842105
Santo Andre,2890.894737,19.000000,1.526316,1.315789,2.842105
Santos,4108.728205,19.964103,1.800000,0.925641,2.725641
Sao Caetano,1009.825581,22.186047,1.395349,0.883721,2.279070
Sao Paulo,4111.541026,20.341026,1.682051,0.869231,2.551282
Sport,4899.937799,19.545455,1.392344,1.023923,2.416268
Vasco,3594.230508,20.244068,1.481356,1.166102,2.647458
Vitoria,3557.939394,20.631313,1.575758,1.237374,2.813131

In [15]:
# Calcular a média da soma de gols para cada equipe
new_df_index_mandante['total_gols'] = new_df_index_mandante['mandante_Placar'] + new_df_index_mandante['visitante_Placar']
media_gols = new_df_index_mandante.groupby('vencedor')['total_gols'].sum().idxmax()

In [16]:
media_gols

'-'

3 - Qual foi o time que fez mais goleada

``Goleada como mandante``

In [17]:
# Seleciona apenas as colunas que serão utilizadas
df_full_nnull_goleada = df_origin[['mandante', 'visitante', 'mandante_Placar', 'visitante_Placar', 'vencedor']]

# Adiciona coluna com a diferença entre os placares
df_full_nnull_goleada['dif_placar'] = df_full_nnull_goleada.apply(lambda row: row['mandante_Placar'] - row['visitante_Placar'], axis=1)

df_full_nnull_goleada

C:\Users\victor.cavalaro\AppData\Local\Temp\ipykernel_18804\79711086.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_full_nnull_goleada['dif_placar'] = df_full_nnull_goleada.apply(lambda row: row['mandante_Placar'] - row['visitante_Placar'], axis=1)

,mandante,visitante,mandante_Placar,visitante_Placar,vencedor,dif_placar
0,Guarani,Vasco,4,2,Guarani,2
1,Athletico-PR,Gremio,2,0,Athletico-PR,2
2,Flamengo,Coritiba,1,1,-,0
3,Goias,Paysandu,2,2,-,0
4,Internacional,Ponte Preta,1,1,-,0
...,...,...,...,...,...,...
8020,Cuiaba,Coritiba,2,1,Cuiaba,1
8021,Bragantino,Fluminense,0,1,Fluminense,-1
8022,Corinthians,Atletico-MG,0,1,Atletico-MG,-1
8023,Internacional,Palmeiras,3,0,Internacional,3
8024,Goias,Sao Paulo,0,4,Sao Paulo,-4

In [18]:
# Seleciona apenas as linhas onde a diferença entre os placares é maior ou igual a 3
df_dif_placar_mandante = df_full_nnull_goleada[df_full_nnull_goleada['dif_placar'] >= 3]

# Encontra o valor mais frequente na coluna 'vencedor' das linhas onde a diferença entre os placares é maior ou igual a 3
vencedor_freq = df_dif_placar_mandante['vencedor'].mode()

# Retorna o resultado
if len(vencedor_freq) > 1:
    print(f"Há mais de um valor com a maior frequência na coluna 'vencedor' relacionado a uma diferença de placar de 3 ou mais.")
else:
    print(f"A quantidade de vezes que o valor '{vencedor_freq[0]}' aparece na coluna 'vencedor' relacionado a uma diferença de placar de 3 ou mais é: {df_dif_placar['vencedor'].value_counts()[vencedor_freq[0]]}")

Há mais de um valor com a maior frequência na coluna 'vencedor' relacionado a uma diferença de placar de 3 ou mais.

In [19]:
df_sumarizada_goleada_mandante = df_full_nnull_goleada.groupby('vencedor').sum().sort_values('dif_placar', ascending=False)

df_sumarizada_goleada_mandante

                 mandante_Placar  visitante_Placar  dif_placar
vencedor
Santos                       625               352         273
Athletico-PR                 538               291         247
Atletico-MG                  576               342         234
Gremio                       506               286         220
Internacional                537               321         216
Flamengo                     572               358         214
Sao Paulo                    601               395         206
Palmeiras                    547               362         185
Corinthians                  502               320         182
Cruzeiro                     525               349         176
Coritiba                     321               151         170
Fluminense                   513               348         165
Goias                        376               229         147
Botafogo-RJ                  390               243         147
Vasco                        329               203         126
Sport                        225               115         110
Vitoria                      246               151          95
Ponte Preta                  194               103          91
Figueirense                  244               154          90
Fortaleza                    170                93          77
Bahia                        182               107          75
Parana                       158                94          64
Juventude                    137                76          61
Paysandu                      98                38          60
Nautico                      108                51          57
Criciuma                      90                40          50
Chapecoense                  109                63          46
Ceara                        113                67          46
Avai                         113                69          44
Sao Caetano                  104                61          43
America-MG                    87                46          41
Portuguesa                    65                27          38
Atletico-GO                  120                84          36
Guarani                       65                30          35
Bragantino                    71                43          28
Barueri                       32                12          20
Santa Cruz                    32                14          18
Ipatinga                      21                 5          16
Gremio Prudente               18                 8          10
Joinville                     13                 5           8
Santo Andre                   21                13           8
CSA                           10                 4           6
Cuiaba                        22                17           5
Brasiliense                   17                13           4
America-RN                     7                 7           0
-                           2065              2065           0

``Goleada como visitante``

In [20]:
df_full_nnull_goleada_visitante = df_origin[['mandante', 'visitante', 'mandante_Placar', 'visitante_Placar', 'vencedor']]

# Adiciona coluna com a diferença entre os placares
df_full_nnull_goleada_visitante['dif_placar'] = df_full_nnull_goleada_visitante.apply(lambda row: row['visitante_Placar'] - row['mandante_Placar'], axis=1)

df_full_nnull_goleada_visitante

C:\Users\victor.cavalaro\AppData\Local\Temp\ipykernel_18804\2136592876.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_full_nnull_goleada_visitante['dif_placar'] = df_full_nnull_goleada_visitante.apply(lambda row: row['visitante_Placar'] - row['mandante_Placar'], axis=1)

,mandante,visitante,mandante_Placar,visitante_Placar,vencedor,dif_placar
0,Guarani,Vasco,4,2,Guarani,-2
1,Athletico-PR,Gremio,2,0,Athletico-PR,-2
2,Flamengo,Coritiba,1,1,-,0
3,Goias,Paysandu,2,2,-,0
4,Internacional,Ponte Preta,1,1,-,0
...,...,...,...,...,...,...
8020,Cuiaba,Coritiba,2,1,Cuiaba,-1
8021,Bragantino,Fluminense,0,1,Fluminense,1
8022,Corinthians,Atletico-MG,0,1,Atletico-MG,1
8023,Internacional,Palmeiras,3,0,Internacional,-3
8024,Goias,Sao Paulo,0,4,Sao Paulo,4

In [21]:
# Seleciona apenas as linhas onde a diferença entre os placares é maior ou igual a 3
df_dif_placar_visitante = df_full_nnull_goleada_visitante[df_full_nnull_goleada_visitante['dif_placar'] >= 3]

# Encontra o valor mais frequente na coluna 'vencedor' das linhas onde a diferença entre os placares é maior ou igual a 3
vencedor_freq_visitante = df_dif_placar_visitante['vencedor'].mode()

# Retorna o resultado
if len(vencedor_freq_visitante) > 1:
    print(f"Há mais de um valor com a maior frequência na coluna 'vencedor' relacionado a uma diferença de placar de 3 ou mais.")
else:
    print(f"A quantidade de vezes que o valor '{vencedor_freq_visitante[0]}' aparece na coluna 'vencedor' relacionado a uma diferença de placar de 3 ou mais é: {df_dif_placar_visitante['vencedor'].value_counts()[vencedor_freq_visitante[0]]}")

Há mais de um valor com a maior frequência na coluna 'vencedor' relacionado a uma diferença de placar de 3 ou mais.

In [22]:
df_sumarizada_goleada_visitante = df_full_nnull_goleada_visitante.groupby('vencedor').sum().sort_values('dif_placar', ascending=False)

df_sumarizada_goleada_visitante

                 mandante_Placar  visitante_Placar  dif_placar
vencedor
-                           2065              2065           0
America-RN                     7                 7           0
Brasiliense                   17                13          -4
Cuiaba                        22                17          -5
CSA                           10                 4          -6
Joinville                     13                 5          -8
Santo Andre                   21                13          -8
Gremio Prudente               18                 8         -10
Ipatinga                      21                 5         -16
Santa Cruz                    32                14         -18
Barueri                       32                12         -20
Bragantino                    71                43         -28
Guarani                       65                30         -35
Atletico-GO                  120                84         -36
Portuguesa                    65                27         -38
America-MG                    87                46         -41
Sao Caetano                  104                61         -43
Avai                         113                69         -44
Chapecoense                  109                63         -46
Ceara                        113                67         -46
Criciuma                      90                40         -50
Nautico                      108                51         -57
Paysandu                      98                38         -60
Juventude                    137                76         -61
Parana                       158                94         -64
Bahia                        182               107         -75
Fortaleza                    170                93         -77
Figueirense                  244               154         -90
Ponte Preta                  194               103         -91
Vitoria                      246               151         -95
Sport                        225               115        -110
Vasco                        329               203        -126
Goias                        376               229        -147
Botafogo-RJ                  390               243        -147
Fluminense                   513               348        -165
Coritiba                     321               151        -170
Cruzeiro                     525               349        -176
Corinthians                  502               320        -182
Palmeiras                    547               362        -185
Sao Paulo                    601               395        -206
Flamengo                     572               358        -214
Internacional                537               321        -216
Gremio                       506               286        -220
Atletico-MG                  576               342        -234
Athletico-PR                 538               291        -247
Santos                       625               352        -273

``Goleada no geral``

``3 - Qual foi o time que fez mais goleada``

In [94]:
# Obter o time com a maior média de gols e o número máximo de gols
time_max_media = media_gols.idxmax()
max_gols = new_df_index_mandante['total_gols'].max()

print(f'O time vencedor com a maior média de gols é o {time_max_media}, com um total de {max_gols} gols marcados.')

O time vencedor com a maior média de gols é o Gremio Prudente, com um total de 11 gols marcados.

``Agrupando para ver o vencedor, em seguida o que venceu com mais gols como mandate a mais gols como visitante``

``Verificando os vencedores com goleada``

## Início manipulação dados do data set Estatisticas Full

``Verificar o conteúdo do data set``

In [2]:
df_origin_2 = pd.read_csv('campeonato-brasileiro-estatisticas-full.csv')

In [3]:
df_origin_2.head()

,partida_id,rodata,clube,chutes,chutes_no_alvo,posse_de_bola,passes,precisao_passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
0,1,1,Guarani,0,0,NaN,0,NaN,0,0,0,0,0
1,1,1,Vasco,0,0,NaN,0,NaN,0,0,0,0,0
2,2,1,Athletico-PR,0,0,NaN,0,NaN,0,0,0,0,0
3,2,1,Gremio,0,0,NaN,0,NaN,0,0,0,0,0
4,3,1,Flamengo,0,0,NaN,0,NaN,0,0,0,0,0

In [4]:
valores_1 = df_origin_2.iloc[0:1, 3]

print(valores_1)

print(type(valores_1))

0    0
Name: chutes, dtype: int64
<class 'pandas.core.series.Series'>

``Verificar a quantidade de dados``

In [6]:
len(df_origin_2["partida_id"])

16050

``Verificar se há dados nulos``

In [7]:
df_origin_2.isna().sum()

partida_id            0
rodata                0
clube                 0
chutes                0
chutes_no_alvo        0
posse_de_bola      9212
passes                0
precisao_passes    9212
faltas                0
cartao_amarelo        0
cartao_vermelho       0
impedimentos          0
escanteios            0
dtype: int64

``Estatisticamente, as colunas posse de bole e precissão de passes possuem ~50% dos dados nulos, afetando a avaliação que proveria dela.``

``Neste cenário, é mais vantajoso a exclusão total.``

In [8]:
df_statistic_full_nnull = df_origin_2.drop(['posse_de_bola', 'precisao_passes'], axis=1)

In [9]:
df_statistic_full_nnull

,partida_id,rodata,clube,chutes,chutes_no_alvo,passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
0,1,1,Guarani,0,0,0,0,0,0,0,0
1,1,1,Vasco,0,0,0,0,0,0,0,0
2,2,1,Athletico-PR,0,0,0,0,0,0,0,0
3,2,1,Gremio,0,0,0,0,0,0,0,0
4,3,1,Flamengo,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
16045,8023,38,Atletico-MG,17,7,351,19,6,0,0,4
16046,8024,38,Internacional,15,8,287,13,2,0,1,6
16047,8024,38,Palmeiras,11,2,306,17,3,0,2,5
16048,8025,38,Goias,6,2,330,12,2,0,1,3
16049,8025,38,Sao Paulo,13,7,591,14,1,0,0,4

``A coluna 1 está com nome inadequado, não prejudicado a análise de dados mas incomodando``

In [10]:
df_statistic_full_nnull_rename = df_statistic_full_nnull.rename(columns={"rodata": "rodada"})

In [26]:
df_statistic_full_nnull_rename

,partida_id,rodada,clube,chutes,chutes_no_alvo,passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
0,1,1,Guarani,0,0,0,0,0,0,0,0
1,1,1,Vasco,0,0,0,0,0,0,0,0
2,2,1,Athletico-PR,0,0,0,0,0,0,0,0
3,2,1,Gremio,0,0,0,0,0,0,0,0
4,3,1,Flamengo,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
16045,8023,38,Atletico-MG,17,7,351,19,6,0,0,4
16046,8024,38,Internacional,15,8,287,13,2,0,1,6
16047,8024,38,Palmeiras,11,2,306,17,3,0,2,5
16048,8025,38,Goias,6,2,330,12,2,0,1,3
16049,8025,38,Sao Paulo,13,7,591,14,1,0,0,4

``Note, as colunas chutes a escanteios demostrando muitos dados em zero. O que pode comprometer a análise dos dados por não serem reais.``

``Até onde vão esses dados zerados?``

In [12]:
# avaliando a retirada dos dados zerados, via estatistica descritiva

df_statistic_full_nnull_rename.describe()

,partida_id,rodada,chutes,chutes_no_alvo,passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
count,16050.000000,16050.000000,16050.000000,16050.000000,16050.000000,16050.000000,16050.000000,16050.000000,16050.000000,16050.000000
mean,4013.000000,20.163240,4.841308,1.207975,159.068910,5.677695,0.862368,0.047664,0.613271,1.976947
std,2316.690109,11.465597,6.924779,2.280282,213.129689,7.793185,1.416964,0.232900,1.209620,3.131383
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2007.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4013.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6019.000000,30.000000,10.000000,2.000000,374.000000,13.000000,2.000000,0.000000,1.000000,4.000000
max,8025.000000,46.000000,37.000000,16.000000,848.000000,34.000000,10.000000,3.000000,10.000000,23.000000

In [23]:
# Script que vare cada coluna, verificando os valores e retornando o índice de cada coluna onde está o último valor zerado.

def minimum_value(row):
    row['chutes'] = row['chutes']-1
    return row

df_statistic_full_nnull_rename.apply(minimum_value, axis='columns')

,partida_id,rodada,clube,chutes,chutes_no_alvo,passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
0,1,1,Guarani,-1,0,0,0,0,0,0,0
1,1,1,Vasco,-1,0,0,0,0,0,0,0
2,2,1,Athletico-PR,-1,0,0,0,0,0,0,0
3,2,1,Gremio,-1,0,0,0,0,0,0,0
4,3,1,Flamengo,-1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
16045,8023,38,Atletico-MG,16,7,351,19,6,0,0,4
16046,8024,38,Internacional,14,8,287,13,2,0,1,6
16047,8024,38,Palmeiras,10,2,306,17,3,0,2,5
16048,8025,38,Goias,5,2,330,12,2,0,1,3
16049,8025,38,Sao Paulo,12,7,591,14,1,0,0,4

In [20]:
agrupamento_media = df_statistic_full_nnull_rename.groupby('chutes').chutes_no_alvo.mean()

In [28]:
new_df = df_statistic_full_nnull_rename.set_index('clube')

new_df.head()

,partida_id,rodada,chutes,chutes_no_alvo,passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
clube,,,,,,,,,,
Guarani,1,1,0,0,0,0,0,0,0,0
Vasco,1,1,0,0,0,0,0,0,0,0
Athletico-PR,2,1,0,0,0,0,0,0,0,0
Gremio,2,1,0,0,0,0,0,0,0,0
Flamengo,3,1,0,0,0,0,0,0,0,0

In [37]:
new_df.groupby('clube').mean()

,partida_id,rodada,chutes,chutes_no_alvo,passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
clube,,,,,,,,,,
America-MG,6163.800000,19.500000,10.331579,2.542105,311.789474,11.894737,1.563158,0.089474,1.268421,3.915789
America-RN,2136.184211,19.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Athletico-PR,4112.590296,20.110512,4.884097,1.301887,167.495957,5.788410,0.835580,0.036388,0.625337,1.936658
Atletico-GO,5610.469925,19.500000,7.056391,2.124060,225.056391,8.635338,1.319549,0.067669,0.857143,3.048872
Atletico-MG,4227.838057,20.085020,5.900135,1.480432,197.437247,5.933873,0.851552,0.032389,0.757085,2.466937
Avai,5067.680451,19.500000,6.578947,1.315789,211.454887,8.353383,1.409774,0.082707,0.842105,2.718045
Bahia,4967.360825,19.974227,6.533505,2.167526,194.636598,7.878866,1.054124,0.072165,0.652062,2.677835
Barueri,2896.105263,19.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Botafogo-RJ,4122.574468,19.907295,4.308511,1.139818,138.481763,5.027356,0.802432,0.034954,0.516717,1.638298
Bragantino,7455.131579,19.500000,14.359649,4.596491,413.201754,15.122807,2.192982,0.114035,1.157895,5.578947
Brasiliense,1335.309524,21.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
CSA,6696.605263,19.500000,10.315789,3.026316,315.447368,14.105263,2.157895,0.105263,1.500000,3.105263
Ceara,6044.180451,19.500000,9.330827,3.030075,268.229323,10.684211,1.755639,0.093985,1.090226,3.778195
Chapecoense,5991.592453,19.430189,10.471698,2.090566,309.354717,13.769811,1.864151,0.075472,1.158491,4.245283
Corinthians,4190.746631,20.109164,4.952830,1.238544,198.977089,5.411051,0.785714,0.035040,0.517520,2.145553
Coritiba,3904.161232,20.318841,4.222826,0.800725,134.690217,5.610507,0.927536,0.059783,0.630435,1.701087
Criciuma,2386.416667,21.690476,0.119048,0.000000,5.535714,0.232143,0.041667,0.000000,0.011905,0.077381
Cruzeiro,3536.534535,20.178679,3.885886,0.735736,126.926426,3.989489,0.668168,0.039039,0.540541,1.545045
Cuiaba,7646.355263,19.500000,11.605263,3.421053,378.144737,13.434211,2.000000,0.171053,1.526316,4.671053
Figueirense,2814.506849,20.531963,1.746575,0.009132,58.438356,3.086758,0.458904,0.029680,0.401826,0.780822
Flamengo,4109.264103,20.079487,5.750000,1.612821,190.460256,5.787179,0.816667,0.046154,0.647436,2.423077
Fluminense,4109.314103,20.079487,4.950000,1.347436,173.851282,5.624359,0.884615,0.056410,0.617949,1.934615
Fortaleza,4459.956835,20.464029,6.794964,2.269784,209.629496,7.982014,1.158273,0.079137,0.888489,2.449640
Goias,3537.909420,20.318841,3.237319,0.742754,90.961957,4.115942,0.704710,0.034420,0.405797,1.152174
Gremio,4073.225714,20.025714,5.054286,1.271429,188.801429,5.444286,0.834286,0.038571,0.578571,2.074286
Gremio Prudente,3276.447368,19.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Guarani,1348.692308,22.330769,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Internacional,4015.950135,20.109164,4.545822,1.164420,154.690027,5.599730,0.902965,0.057951,0.563342,2.006739
Ipatinga,2516.394737,19.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Joinville,5175.736842,19.500000,10.868421,0.105263,349.631579,16.578947,2.473684,0.210526,1.736842,5.289474
Juventude,2922.688811,21.080420,3.024476,0.926573,100.842657,3.881119,0.685315,0.038462,0.314685,1.220280
Nautico,3200.342105,19.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Palmeiras,4345.839080,19.885057,6.331897,1.670977,184.423851,6.945402,1.004310,0.048851,0.849138,2.561782
Parana,1995.133065,21.322581,1.814516,0.447581,53.225806,2.407258,0.395161,0.036290,0.185484,0.705645
Paysandu,797.880597,22.873134,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Ponte Preta,3116.707182,20.748619,3.867403,0.439227,120.055249,5.290055,0.784530,0.046961,0.552486,1.627072
Portuguesa,3656.035088,19.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Santa Cruz,3656.276316,19.500000,5.934211,0.013158,203.000000,7.644737,1.105263,0.078947,1.144737,2.605263
Santo Andre,2895.657895,19.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Santos,4109.307692,20.080769,4.903846,1.270513,171.621795,5.594872,0.905128,0.051282,0.775641,2.114103
Sao Caetano,1009.313953,22.127907,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Sao Paulo,4109.410256,20.079487,5.028205,1.256410,177.721795,5.994872,0.883333,0.048718,0.726923,2.144872
Sport,4900.019139,19.500000,6.430622,1.327751,225.449761,8.148325,1.193780,0.059809,0.854067,2.688995
Vasco,3594.528814,20.266102,3.930508,1.016949,125.369492,4.859322,0.832203,0.057627,0.462712,1.601695
Vitoria,3555.103535,20.429293,3.856061,0.729798,109.628788,5.103535,0.770202,0.050505,0.497475,1.446970

In [38]:
new_df_nnull_xy = new_df.drop(['America-RN', 'Barueri', 'Brasiliense', 'Brasiliense', 'Gremio Prudente', 'Guarani', 'Ipatinga', 'Nautico', 'Paysandu', 'Portuguesa', 'Santo Andre', 'Sao Caetano'], axis=0)

In [40]:
new_df_nnull_xy.groupby('clube').mean()

,partida_id,rodada,chutes,chutes_no_alvo,passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
clube,,,,,,,,,,
America-MG,6163.800000,19.500000,10.331579,2.542105,311.789474,11.894737,1.563158,0.089474,1.268421,3.915789
Athletico-PR,4112.590296,20.110512,4.884097,1.301887,167.495957,5.788410,0.835580,0.036388,0.625337,1.936658
Atletico-GO,5610.469925,19.500000,7.056391,2.124060,225.056391,8.635338,1.319549,0.067669,0.857143,3.048872
Atletico-MG,4227.838057,20.085020,5.900135,1.480432,197.437247,5.933873,0.851552,0.032389,0.757085,2.466937
Avai,5067.680451,19.500000,6.578947,1.315789,211.454887,8.353383,1.409774,0.082707,0.842105,2.718045
Bahia,4967.360825,19.974227,6.533505,2.167526,194.636598,7.878866,1.054124,0.072165,0.652062,2.677835
Botafogo-RJ,4122.574468,19.907295,4.308511,1.139818,138.481763,5.027356,0.802432,0.034954,0.516717,1.638298
Bragantino,7455.131579,19.500000,14.359649,4.596491,413.201754,15.122807,2.192982,0.114035,1.157895,5.578947
CSA,6696.605263,19.500000,10.315789,3.026316,315.447368,14.105263,2.157895,0.105263,1.500000,3.105263
Ceara,6044.180451,19.500000,9.330827,3.030075,268.229323,10.684211,1.755639,0.093985,1.090226,3.778195
Chapecoense,5991.592453,19.430189,10.471698,2.090566,309.354717,13.769811,1.864151,0.075472,1.158491,4.245283
Corinthians,4190.746631,20.109164,4.952830,1.238544,198.977089,5.411051,0.785714,0.035040,0.517520,2.145553
Coritiba,3904.161232,20.318841,4.222826,0.800725,134.690217,5.610507,0.927536,0.059783,0.630435,1.701087
Criciuma,2386.416667,21.690476,0.119048,0.000000,5.535714,0.232143,0.041667,0.000000,0.011905,0.077381
Cruzeiro,3536.534535,20.178679,3.885886,0.735736,126.926426,3.989489,0.668168,0.039039,0.540541,1.545045
Cuiaba,7646.355263,19.500000,11.605263,3.421053,378.144737,13.434211,2.000000,0.171053,1.526316,4.671053
Figueirense,2814.506849,20.531963,1.746575,0.009132,58.438356,3.086758,0.458904,0.029680,0.401826,0.780822
Flamengo,4109.264103,20.079487,5.750000,1.612821,190.460256,5.787179,0.816667,0.046154,0.647436,2.423077
Fluminense,4109.314103,20.079487,4.950000,1.347436,173.851282,5.624359,0.884615,0.056410,0.617949,1.934615
Fortaleza,4459.956835,20.464029,6.794964,2.269784,209.629496,7.982014,1.158273,0.079137,0.888489,2.449640
Goias,3537.909420,20.318841,3.237319,0.742754,90.961957,4.115942,0.704710,0.034420,0.405797,1.152174
Gremio,4073.225714,20.025714,5.054286,1.271429,188.801429,5.444286,0.834286,0.038571,0.578571,2.074286
Internacional,4015.950135,20.109164,4.545822,1.164420,154.690027,5.599730,0.902965,0.057951,0.563342,2.006739
Joinville,5175.736842,19.500000,10.868421,0.105263,349.631579,16.578947,2.473684,0.210526,1.736842,5.289474
Juventude,2922.688811,21.080420,3.024476,0.926573,100.842657,3.881119,0.685315,0.038462,0.314685,1.220280
Palmeiras,4345.839080,19.885057,6.331897,1.670977,184.423851,6.945402,1.004310,0.048851,0.849138,2.561782
Parana,1995.133065,21.322581,1.814516,0.447581,53.225806,2.407258,0.395161,0.036290,0.185484,0.705645
Ponte Preta,3116.707182,20.748619,3.867403,0.439227,120.055249,5.290055,0.784530,0.046961,0.552486,1.627072
Santa Cruz,3656.276316,19.500000,5.934211,0.013158,203.000000,7.644737,1.105263,0.078947,1.144737,2.605263
Santos,4109.307692,20.080769,4.903846,1.270513,171.621795,5.594872,0.905128,0.051282,0.775641,2.114103
Sao Paulo,4109.410256,20.079487,5.028205,1.256410,177.721795,5.994872,0.883333,0.048718,0.726923,2.144872
Sport,4900.019139,19.500000,6.430622,1.327751,225.449761,8.148325,1.193780,0.059809,0.854067,2.688995
Vasco,3594.528814,20.266102,3.930508,1.016949,125.369492,4.859322,0.832203,0.057627,0.462712,1.601695
Vitoria,3555.103535,20.429293,3.856061,0.729798,109.628788,5.103535,0.770202,0.050505,0.497475,1.446970

In [41]:
new_df_nnull_xy.describe()

,partida_id,rodada,chutes,chutes_no_alvo,passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
count,15078.000000,15078.000000,15078.000000,15078.000000,15078.000000,15078.000000,15078.000000,15078.000000,15078.000000,15078.000000
mean,4135.195384,20.116063,5.153402,1.285847,169.323252,6.043706,0.917960,0.050736,0.652805,2.104391
std,2314.299232,11.432280,7.031044,2.331259,215.908106,7.901707,1.444366,0.239966,1.237619,3.188967
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2123.250000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4217.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6140.750000,30.000000,11.000000,2.000000,385.000000,13.000000,2.000000,0.000000,1.000000,4.000000
max,8025.000000,46.000000,37.000000,16.000000,848.000000,34.000000,10.000000,3.000000,10.000000,23.000000

In [ ]:
git config --global http.sslVerify false